{{ define "card/index.html"}}

{{ template "header" .}}

<link rel="stylesheet" href="/static/css/dragula.min.css?v={:time()}" media="all">
 
<div style="padding: 20px; background-color: #F2F2F2;">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md4">
      <div class="layui-card">
        <div class="layui-card-header">未开始</div>
        <div class="layui-card-body drag" id="handle-list-1">
          <blockquote class="layui-elem-quote layui-quote-grey">AAAAAAAAAAAAAAAAAAAAAA</blockquote>
          <blockquote class="layui-elem-quote layui-quote-grey">BBBBBBBBBBBBBBBBBBBBBB</blockquote>
        </div>
      </div>
    </div>

    <div class="layui-col-md4">
      <div class="layui-card" >
        <div class="layui-card-header">进行中</div>
        <div class="layui-card-body drag" id="handle-list-2">
          <blockquote class="layui-elem-quote layui-quote-ori">CCCCCCCCCCCCCCCCCCC</blockquote>
          <blockquote class="layui-elem-quote layui-quote-ori">DDDDDDDDDDDDDDDDDDDDDDDDDDD</blockquote>

        </div>
      </div>
    </div>
    
    <div class="layui-col-md4">
      <div class="layui-card">
        <div class="layui-card-header">已完成</div>
        <div class="layui-card-body drag">
          <blockquote class="layui-elem-quote">EEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE</blockquote>
          <blockquote class="layui-elem-quote">FFFFFFFFFFFFFFFF</blockquote>

        </div>
      </div>
    </div>

  </div>
</div> 
{{end}}