{{ define "card/index.html"}}

{{ template "header" .}}

<link rel="stylesheet" href="/static/css/dragula.min.css?v={:time()}" media="all">
 
<div style="padding: 20px; background-color: #F2F2F2;">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md4">
      <div class="layui-card">
        <div class="layui-card-header"><span class="layui-badge layui-bg-gray">未开始</span></div>
        <div class="layui-card-body drag" id="drag-list-1">
          <blockquote class="layui-elem-quote">AAAAAAAAAAAAAAAAAAAAAA</blockquote>
          <blockquote class="layui-elem-quote">BBBBBBBBBBBBBBBBBBBBBB</blockquote>
        </div>
      </div>
    </div>

    <div class="layui-col-md4">
      <div class="layui-card" >
        <div class="layui-card-header"><span class="layui-badge">进行中</span></div>
        <div class="layui-card-body drag" id="drag-list-2">
          <blockquote class="layui-elem-quote">CCCCCCCCCCCCCCCCCCC</blockquote>
          <blockquote class="layui-elem-quote">DDDDDDDDDDDDDDDDDDDDDDDDDDD</blockquote>

        </div>
      </div>
    </div>
    
    <div class="layui-col-md4">
      <div class="layui-card">
        <div class="layui-card-header"><span class="layui-badge layui-bg-green">已完成</span></div>
        <div class="layui-card-body drag" id="drag-list-3">
          <blockquote class="layui-elem-quote">EEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE</blockquote>
          <blockquote class="layui-elem-quote">FFFFFFFFFFFFFFFF</blockquote>

        </div>
      </div>
    </div>

  </div>
</div> 
{{end}}