{{ define "task/card.html"}}

{{ template "header" .}}

<link rel="stylesheet" href="/static/css/dragula.min.css?v={:time()}" media="all">
 
<div style="padding: 20px; background-color: #F2F2F2;">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md4">
      <div class="layui-card">
        <div class="layui-card-header"><span class="layui-badge layui-bg-gray">未开始</span></div>
        <div class="layui-card-body drag" id="todo">
          {{ range $k, $v := .data }}
            {{ if eq $v.Status  "todo" }}
            <blockquote class="layui-elem-quote" id="{{ $v.Id }}">
                <div class="layui-row">
                  <div class="layui-col-sm12">
                    <div class="content">{{ $v.Title }}</div>
                  </div>
                  <div class="layui-col-sm12">
                    <div class="datetime" style="text-align: right;">
                      <span class="layui-badge-rim">{{ $v.Username }}</span>
                      <span class="layui-badge layui-bg-blue">{{ if eq "0" $v.Type }} dev {{else if eq "1" $v.Type}} des {{else}} test {{end}}</span>
                      <span class="layui-badge layui-bg-orange">{{ $v.StartTime |timeFormat }} ~ {{ $v.EndTime |timeFormat }}</span>
                    </div>
                  </div>
                </div>
            </blockquote>
            {{ end }}
          {{ end }}
        </div>
      </div>
    </div>

    <div class="layui-col-md4">
      <div class="layui-card" >
        <div class="layui-card-header"><span class="layui-badge">进行中</span></div>
        <div class="layui-card-body drag" id="doing">

          {{ range $k, $v := .data }}
            {{ if eq $v.Status  "doing" }}
            <blockquote class="layui-elem-quote" id="{{ $v.Id }}">
                <div class="layui-row">
                  <div class="layui-col-sm12">
                    <div class="content">{{ $v.Title }}</div>
                  </div>
                  <div class="layui-col-sm12">
                    <div class="datetime" style="text-align: right;">
                      <span class="layui-badge-rim"><i class="layui-icon layui-icon-log"></i> {{ $v.StartTime |timeFormat }} ~ {{ $v.EndTime |timeFormat }}</span>
                      <span class="layui-badge-rim"><i class="layui-icon layui-icon-at"></i> {{ $v.Username }}</span>
                    </div>
                  </div>
                </div>
            </blockquote>
            {{ end }}
          {{ end }}

        </div>
      </div>
    </div>
    
    <div class="layui-col-md4">
      <div class="layui-card">
        <div class="layui-card-header"><span class="layui-badge layui-bg-green">已完成</span></div>
        <div class="layui-card-body drag" id="done">
          {{ range $k, $v := .data }}
            {{ if eq $v.Status  "done" }}
            <blockquote class="layui-elem-quote" id="{{ $v.Id }}">
                <div class="layui-row">
                  <div class="layui-col-sm12">
                    <div class="content">{{ $v.Type }} {{ $v.Title }}</div>
                  </div>
                  <div class="layui-col-sm12">
                    <div class="datetime" style="text-align: right;">
                      <span class="layui-badge-rim"><i class="layui-icon layui-icon-log"></i> {{ $v.StartTime |timeFormat }} ~ {{ $v.EndTime |timeFormat }}</span>
                      <span class="layui-badge-rim"><i class="layui-icon layui-icon-at"></i> {{ $v.Username }}</span>
                    </div>
                  </div>
                </div>
            </blockquote>
            {{ end }}
          {{ end }}
        </div>
      </div>
    </div>

  </div>
</div> 
{{end}}