{{ define "task/card.html"}}

{{ template "header" .}}

<link rel="stylesheet" href="/static/css/dragula.min.css?v={:time()}" media="all">
 
<div style="padding: 20px; background-color: #F2F2F2;">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md4">
      <div class="layui-card">
        <div class="layui-card-header"><span class="layui-badge layui-bg-gray">未开始</span></div>
        <div class="layui-card-body drag" id="drag-list-1">
          {{ range $k, $v := .data }}
          {{ if eq $v.Status  "todo" }}
          <blockquote class="layui-elem-quote" id="{{ $v.Id }}">
              <div class="layui-row">
                <div class="layui-col-sm12">
                  <div class="content">{{ $v.Content }}</div>
                </div>
                <div class="layui-col-sm12">
                  <div class="datetime" style="text-align: right;">
                    <span class="layui-badge-rim"><i class="layui-icon layui-icon-log"></i> {{ $v.StartTime |timeFormat }} ~ {{ $v.EndTime |timeFormat }}</span>
                    <span class="layui-badge-rim"><i class="layui-icon layui-icon-at"></i> {{ $v.User.Realname }}</span>
                  </div>
                </div>
              </div>
          </blockquote>
          {{ end }}
          {{ end }}
        </div>
      </div>
    </div>

    <div class="layui-col-md4">
      <div class="layui-card" >
        <div class="layui-card-header"><span class="layui-badge">进行中</span></div>
        <div class="layui-card-body drag" id="drag-list-2">

          {{ range $k, $v := .data }}
          {{ if eq $v.Status  "doing" }}
          <blockquote class="layui-elem-quote" id="{{ $v.Id }}">
              <div class="layui-row">
                <div class="layui-col-sm12">
                  <div class="content">{{ $v.Content }}</div>
                </div>
                <div class="layui-col-sm12">
                  <div class="datetime" style="text-align: right;">
                    <span class="layui-badge-rim"><i class="layui-icon layui-icon-log"></i> {{ $v.StartTime |timeFormat }} ~ {{ $v.EndTime |timeFormat }}</span>
                    <span class="layui-badge-rim"><i class="layui-icon layui-icon-at"></i> {{ $v.User.Realname }}</span>
                  </div>
                </div>
              </div>
          </blockquote>
          {{ end }}
          {{ end }}

        </div>
      </div>
    </div>
    
    <div class="layui-col-md4">
      <div class="layui-card">
        <div class="layui-card-header"><span class="layui-badge layui-bg-green">已完成</span></div>
        <div class="layui-card-body drag" id="drag-list-3">
          {{ range $k, $v := .data }}
          {{ if eq $v.Status  "done" }}
          <blockquote class="layui-elem-quote" id="{{ $v.Id }}">
              <div class="layui-row">
                <div class="layui-col-sm12">
                  <div class="content">{{ $v.Content }}</div>
                </div>
                <div class="layui-col-sm12">
                  <div class="datetime" style="text-align: right;">
                    <span class="layui-badge-rim"><i class="layui-icon layui-icon-log"></i> {{ $v.StartTime |timeFormat }} ~ {{ $v.EndTime |timeFormat }}</span>
                    <span class="layui-badge-rim"><i class="layui-icon layui-icon-at"></i> {{ $v.User.Realname }}</span>
                  </div>
                </div>
              </div>
          </blockquote>
          {{ end }}
          {{ end }}
        </div>
      </div>
    </div>

  </div>
</div> 
{{end}}