{{ define "task/edit.html"}}

{{template "header" .}}

<div class="layuimini-container">
    <form id="app-form" class="layui-form layuimini-form">
        <div class="layui-form-item">
            <label class="layui-form-label">项目</label>
            <div class="layui-input-block">
                <select name="cate_id" lay-verify="required" data-select="/api/task-project.json" data-fields="id,title">
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">类型</label>
            <div class="layui-input-block">
                <select name="cate_id" lay-verify="required" data-select="/api/task-type.json" data-fields="id,title">
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">负责人</label>
            <div class="layui-input-block">
                <select name="uid" lay-verify="required" data-select="/user/index" data-fields="id,username">
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">名称</label>
            <div class="layui-input-block">
                <input type="text" name="title" class="layui-input" lay-verify="required" placeholder="请输入名称" value="{{.data.Title}}">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">描述</label>
            <div class="layui-input-block">
                <textarea name="content" rows="10" class="layui-textarea" placeholder="请输入描述">{{.data.Content}}</textarea>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">附件</label>
            <div class="layui-input-block layuimini-upload">
                <input name="accessory" class="layui-input layui-col-xs6" placeholder="请上传分类图片" value="">
                <div class="layuimini-upload-btn">
                    <span><a class="layui-btn" data-upload="accessory" data-upload-number="one" data-upload-exts="png|jpg|ico|jpeg" data-upload-icon="image"><i class="fa fa-upload"></i> 上传</a></span>
                    <span><a class="layui-btn layui-btn-normal" id="select_image" data-upload-select="accessory" data-upload-number="one" data-upload-mimetype="image/*"><i class="fa fa-list"></i> 选择</a></span>
                </div>
            </div>
        </div>


        <div class="layui-form-item">
            <label class="layui-form-label required">日期</label>
            <div class="layui-input-inline">
                <input type="text" name="up_date" data-date="" data-date-type="date" data-date-range="~" class="layui-input"  placeholder="请选择日期" value="{{ .data.StartTime |timeFormat }} ~ {{ .data.EndTime |timeFormat }}">
            </div>
        </div>

        <div class="hr-line"></div>
        <div class="layui-form-item text-center">
            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit>确认</button>
            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
        </div>

    </form>
</div>
{{end}}