{{ define "header" }}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{:sysconfig('site','site_name')}</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="/static/css/public.css?v={$version}" media="all">
    <script>
        var action = "{{ .action }}"
        var autoloadjs = {{ .controller | jsExists }}
        var jspath = "js/{{.controller}}.js"

        window.CONFIG = {
            CONTROLLER_JS_PATH: jspath,
            ACTION: action,
            AUTOLOAD_JS: autoloadjs,
            IS_SUPER_ADMIN: 1,
            VERSION: "1.0.0",
        };
    </script>
    <script src="/static/plugs/layui-v2.5.6/layui.all.js?v={$version}" charset="utf-8"></script>
    <script src="/static/plugs/require-2.3.6/require.js?v={$version}" charset="utf-8"></script>
    <script src="/static/config-admin.js?v={$version}" charset="utf-8"></script>
</head>
<body>
{{ end }}